.header-logo {
  width: auto;
  max-height: 55px;
  border-radius: 0 10px 0 10px;
}
.header-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  padding-right: 16px;
}
.columns.is-vcentered.header{
  align-items: center;
}
.header-menu {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(10, 10, 10, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
.header-menu.is-active {
  display: flex;
  justify-content: right;
}
.menu-content {
  background: #13171C;
  padding: 2rem;
  border-radius: 8px;
  width: 50vw;
  height: 100vh;
  text-align: center;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header-menu.is-active .menu-content {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
.menu-content > button{
  display: block;
  margin-left:0;
}
.menu-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-content li {
  margin: 10px 0;
  border: solid #fff;
  border-radius: 10px;
  height: 50px;
}
.menu-content a {
  font-size: 1.2rem;
  color: #f1eded;
  text-decoration: none;
  text-align: center;
}
.menu-content a:hover {
  color: #3273dc;
  text-decoration: underline;
}
.desktop-nav a {
  margin-left: 1rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
}
.desktop-nav a:hover {
  color: #3273dc;
}
.burger-button {
  background-color: transparent;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 6px;
  width: 48px;
  height: 48px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;

}
.burger-button .fas.fa-bars {
  color: white;
  font-size: 1.25rem;
}
.burger-button:hover {
  background-color: white;
}
.burger-button:hover .fas.fa-bars {
  color: #222;
}
.primer-contenedor-del-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.custom-wide-container {
  max-width: 1750px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}